<h1>タスク一覧</h1>

<ul>
  <% @tasks.each do |task| %>
  <div><%= task.user.name %></div>
  <div><%= link_to task.id, task %> : <%= task.status %> &gt; <%= task.content %></div>
  <%  end %>
</ul>

<%= link_to 'タスクの新規作成', new_task_path %>